* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
}

body {
  margin: 0 auto 20px;
}

.container {
  width: 100%;
}

h2 {
  padding: 0 10px;
  font-size: 1.4rem;
  text-align: center;
}

input {
  width: 60%;
  padding: 8px;
  display: block;
  margin: 0 auto;
  outline: none;
  font-size: 1.07rem;
  border-color: cadetblue;
  border-radius: 4px;
}


.gifs {
  min-width: 320px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 40px;
}

img {
  width: 150px;
}

.card {
  background-color: coral;
  align-content: center;
  border: 2px solid brown;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card p {
  max-width: 130px;
  height: 25%;
}